.translator {
    padding: 6px;
    position: absolute;
    border: 0;
}

.hidden {
    opacity: 0;
}

.translateResult {
    padding: 10px;
    background-color: white;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}